<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='../styles/reset.css'/>
    <link rel="stylesheet" href='../styles/base.css'/>  
    <link rel="stylesheet" href='../styles/modules.css'/>
    <link rel="stylesheet" href='../styles/layout.css'/>
    <title>Book App</title>
</head>
<body>


        <main id='search-main'>
            <h1 id='intro-header'> The Book App </h1>
            <h1 id='intro-sub'> This Is Your Bookshelf </h1>
                

                <%- include('layout/eachbook.ejs') %>
     
    </main>
    
    <footer>
        <div class='to-search-button'><a href='/searches/new'>Search</a></div>
    </footer>
    
</body>
</html>