<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href='reset.css'/>     -->
    <link rel="stylesheet" href='styles/base.css'/>
    <title>Book App</title>
</head>
<body>

    <header>

    </header>
    
    <main>

        <h1> HELLO WORLD </h1>

    </main>
    
    <footer>

    </footer>
    
</body>
</html>