@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap');

html{
    background-color: black;
    color: blanchedalmond;
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
}

body{

 /* sets the background stars */
background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #000;
    font-family: 'Sora', sans-serif;
}

h6{
    font-family: 'Sora', sans-serif;
    line-height: 2em;
}

header{
    background-color: blueviolet;
    width: 100%;
    height: 100px;
    display: block;
}

footer{
    background-color: black;
}
h1 {
    color: blanchedalmond;
}

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}