@media only screen and (min-width: 900px){

  body{
    display: flex;
    width: 100vw;
  height: 100vh;
  }

  .desktop-books{
    flex-grow: 2;
    max-width: 30%; 
    float: left;
    height: 240px;
    overflow: scroll;
    margin: 10px;
    border: solid 2px white;
    overflow-x: hidden;
    padding: 20px;
  }

  #results{
    width: 121px;
  }
}