#title{
  text-align: center;
  text-decoration: underline;
  font-size: larger;
}

#the-form{
  width: 80%;
  margin: auto;
  background-color: grey;
  text-align: center;
}

.form-spacer{
  margin-top: 20px;
  margin-bottom: 20px;
}

#search-main{
  text-align: center;
  width: 60%;
  margin: auto;
}

.zoom{
  font-size: x-large;
}

#sucky{
  margin: auto;
  font-size: 79px;
  font-weight: bolder;
  text-decoration: underline;
  margin-left: 42%;
  margin-top: 42%;
  color: red;
}